* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("./image/pexels-photo-237464.jpeg");
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
  position: relative;
}
body::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: -10;
}

.keys {
  height: 100vh;
  width: 80vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.key {
  border: 3px solid black;
  height: 80px;
  width: 80px;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 250ms ease-in-out;
}

.key {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

kbd {
  color: #fff;
  font-size: 45px;
}

.sound {
  font-size: 15px;
  letter-spacing: 1.2px;
  font-weight: bold;
  color: #ffc600;
}

.playing {
  transform: scale(1.3);
  border-color: #ffc600;
  box-shadow: 0 0 10px #ffc600;
}
